<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoConsig</title>
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>Bem-vindo ao GoConsig</h1>
            <div style="display: flex;" class="nav-links">
                <a href="{% url 'login' %}">Login</a>
                <p>ou</p>
                <a href="{% url 'cadastro' %}">Cadastro</a>
            </div>
        </nav>
    </header>
    <main>
        <h2>Conteúdo Principal</h2>
        <p>Este é um exemplo de página inicial.</p>
    </main>
    <footer>
        <p>&copy; 2025 GoConsig. Todos os direitos reservados.</p>
    </footer>
</body>
</html>